<!-- Written by Jiraphat Pruttipongdecha -->
<!-- 640510643 -->
{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <form method="post">

      <div class="container search-table">


                      <div class="searchtext">
                          <input type="text" name="search_term" id="search_text" placeholder="ลองพิมพ์อะไรสักอย่างสิ!"></input>

                          <button class="search-button"type="submit">Submit</button>

                          <select name="search_type" id="search_type" class="select-input">
                              <option value="book_name">Book Name</option>
                              <option value="genre">Genre</option>
                              <option value="member">Author</option>
                          </select>
          </div>
      </div>
      
  </form>
  <head>
<body>
 <div class="container book-contain">
    <div class="row row-cols-1 row-cols-md-6">
      {% for book in testbook %}
        <div class="col">
          <a href="{{ url_for('book_description', book_id=book.id) }}" class="card-link">
          <div class="card mb-3" style="width: 12rem;">
            <img src="{{ book.image_url }}" class="card-img-top" style="max-height: 200px;" alt="{{ book.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ book.name }}</h5>
              <p class="card-text"><strong>Author:</strong> {{ book.member.username }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                </div>
              </div>
            </div>
          </div>
        </a>
        </div>
      {% endfor %}
    </div>
</div>
  {% endblock %}