<!-- Written by Phicharaya Khotmani -->
<!-- 650510631 -->

<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>NoVex</title>
        <link rel="icon" type="image/png" href="static/img/Novel_Vortex-icon.png">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />

    </head>


    <body>

            <nav class="navbar" >

                <div class="container">

                    <div class="header">

                        <div>

                            <div>
                                <a href="{{ url_for('home_page') }}" class="logo" style="text-decoration: none;">
                                    <img src="static/img/book.png" width="40" height="40" viewBox="0 0 40 40" fill="none">
                                    Novel <br> Vortex
                                </a>
                            </div>

                        </div>

                        <div>

                            {% if not current_user.is_authenticated %}

                                <a href="{{ url_for('search') }}" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" id="search-icon">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                </a>
            
                                <a href="{{ url_for('myFavorite') }}" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" id="shelf-icon">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                    </svg>
                                </a>
            
                                <a href="{{ url_for('writer_manage') }}" id="writer" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16" id="write-icon">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                    </svg>
                                </a>
            
                                
                                <a href="{{ url_for('login_page') }}"> เข้าสู่ระบบ / ลงทะเบียน </a>

                            {% else %}

                                <a href="{{ url_for('search') }}" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" id="search-icon">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                    </svg>
                                </a>
            
                                <a href="{{ url_for('myFavorite') }}" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16" id="shelf-icon">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                    </svg>
                                </a>
            
                                <a href="{{ url_for('writer_manage') }}" id="writer" style="text-decoration: none;">
                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16" id="write-icon">
                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/>
                                    </svg>
                                </a>

                                <a style="text-decoration: none;" class="user-img" onclick="toggleMenu()">
                                    <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16" id="person-icon">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                    </svg>
                                </a>

                            {% endif %}

                        </div>


                    </div>
                    
                </div>
                
            </nav>

            <diV class="container">

                <div class="row">
                    <div class="col col-lg-2">
                        <div class="sub-menu-wrap" id="subMenu">
                            <div class="sub-menu">
                                <div class="user-info">
                                    <img src="{{ current_user.image_url }}" id="profile-icon">
                                    <p> {{ current_user.username }} <br>
                                        <label style="text-transform: none;"> {{ current_user.email }} </label>
                                    </p> 
                                </div>
            
                                <hr>
            
                                <a class="sub-menu-link">
                                    <p>การตั้งค่า</p>
                                </a>
            
                                <span class="sub-menu-link">
                                    <a href="{{ url_for('logout_page') }}">ออกจากระบบ</a>
                                </span>
            
                            </div>
                        </div>
                    </div>
                </div>

            </diV>

            <nav style="background-color: white;" class="navbar-sub">

                <div class="container" id="subbar">

                    <div class="genre">
                        <a href="{{ url_for('home_page') }}" id="original" onclick="toggleGenre"> นิยาย </a>
                        <a href="{{ url_for('fanfic_page') }}" id="fanfic" onclick="toggleGenre"> แฟนฟิค </a>
                        <a href="{{ url_for('translated_page') }}" id="translated" onclick="toggleGenre" style="color: #DB7F67;"> นิยายแปล </a>
                    </div>
                    
                </div>

            </nav>

            <script>
                let genre = document.getElementById("original");
    
                function toggleGenre() {
                    subMenu.classList.toggle("open-genre");
                }
            </script>

            <div class="container" id="showEmpty">

                <div class="title">
                    <label>รักโรแมนติก</label>
                    <div>
                        <span>
                            <a class="more">ดูเพิ่มเติม</a>
                        </span>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-6 g-4" id="favCon">
                    {% for book in books %}
                        {% if (book.subgenre_id == 4) and (book.genre_id == 3) %}
                        <div class="col">
                            <a href="{{ url_for('book_description', book_id=book.id) }}" class="card-link">
                            <div class="card mb-3" style="width: 12rem;">
                            <img src="{{ book.image_url }}" class="card-img-top" style="max-height: 200px;" alt="{{ book.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.name }}</h5>
                                <p class="card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                    {{ book.member.username }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- You can add buttons or links here for further actions -->
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        {%endif%}
                    {% endfor %}
                </div>
                
                
                <div class="title">
                    <label>แฟนตาซี</label>
                    <div>
                        <span>
                            <a class="more">ดูเพิ่มเติม</a>
                        </span>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-6 g-4" id="favCon2">
                    {% for book in books %}
                        {% if (book.subgenre_id == 5) and (book.genre_id == 3) %}
                        <div class="col">
                            <a href="{{ url_for('book_description', book_id=book.id) }}" class="card-link">
                            <div class="card mb-3" style="width: 12rem;">
                            <img src="{{ book.image_url }}" class="card-img-top" style="max-height: 200px;" alt="{{ book.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.name }}</h5>
                                <p class="card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                    {{ book.member.username }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- You can add buttons or links here for further actions -->
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        {%endif%}
                    {% endfor %}
                </div>

                <div class="title">
                    <label>ถนนสีรุ้ง</label>
                    <div>
                        <span>
                            <a class="more">ดูเพิ่มเติม</a>
                        </span>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-6 g-4" id="favCon3">
                    {% for book in books %}
                        {% if (book.subgenre_id == 6) and (book.genre_id == 3) %}
                        <div class="col">
                            <a href="{{ url_for('book_description', book_id=book.id) }}" class="card-link">
                            <div class="card mb-3" style="width: 12rem;">
                            <img src="{{ book.image_url }}" class="card-img-top" style="max-height: 200px;" alt="{{ book.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.name }}</h5>
                                <p class="card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                    {{ book.member.username }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- You can add buttons or links here for further actions -->
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        {%endif%}
                    {% endfor %}
                </div>
            
                <div class="title">
                    <label>อื่น ๆ</label>
                    <div>
                        <span>
                            <a class="more">ดูเพิ่มเติม</a>
                        </span>
                    </div>
                </div>
                <div class="row row-cols-1 row-cols-md-6 g-4" id="favCon4">
                    {% for book in books %}
                        {% if (book.subgenre_id == 7) and (book.genre_id == 3) %}
                        <div class="col">
                            <a href="{{ url_for('book_description', book_id=book.id) }}" class="card-link">
                            <div class="card mb-3" style="width: 12rem;">
                            <img src="{{ book.image_url }}" class="card-img-top" style="max-height: 200px;" alt="{{ book.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.name }}</h5>
                                <p class="card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                    </svg>
                                    {{ book.member.username }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <!-- You can add buttons or links here for further actions -->
                                </div>
                                </div>
                            </div>
                            </div>
                        </a>
                        </div>
                        {%endif%}
                    {% endfor %}
                </div>
            
                <script>
            
                    function populate_cards(books_data, container_id, genre_id, subgenre_id) {
            
                        var books_obj = []; 
            
                        for (const i of books_data) {
                            if (i['genre_id'] === genre_id && i['subgenre_id'] === subgenre_id)  {
                                books_obj.push(i)
                            }
                        }
            
                        if (books_obj.length === 0) return
                        let cardsHtml = "";
            
                        // Loop through each contact data
                        for (const book of books_data) {
                            cardsHtml += create_card(book);
                        }
            
                        // Add the generated cards to the container element
                        $("#" + container_id).append(cardsHtml);
            
                    }
            
                    function create_card(book) {
                        // Build the card HTML structure with contact information
                        let cardHtml = `
                        
                        <div class="col">
                            <div class="card h-100">
                                <img src="${book.image_url}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title" data-field="book_name">${book.name}</h5>
                                            <div class="author">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                                    </svg>
                                                    <span class="card-text" data-field="writer_name">${book.writer_name}</span>
                                                </div>
                                            </div>
                                    </div>
                            </div>
                        </div>`;
                      
                        return cardHtml;
                    }
            
                    $(document).ready(function () {
                        $.getJSON("books", function(books_data) {
                            populate_cards(books_data, "favCon", 3, 1);
                            populate_cards(books_data, "favCon2", 3, 2);
                            populate_cards(books_data, "favCon3", 3, 3);
                            populate_cards(books_data, "favCon4", 3, 4);
                        });
                    });
                    
                </script>
            </div>
            




        <script>
            let subMenu = document.getElementById("subMenu");

            function toggleMenu() {
                subMenu.classList.toggle("open-menu");
            }
        </script>
       
        
    </body>

</html>